PLIVO_AUTH_ID=your_auth_id
PLIVO_AUTH_TOKEN=your_auth_token
PLIVO_NUMBER=+918035454161
ASSOCIATE_NUMBER=+912264236412
TO_NUMBER=+91XXXXXXXXXX
OTP=1503
BASE_URL=https://your-subdomain.ngrok-free.app
AUDIO_URL=https://s3.amazonaws.com/plivocloud/Trumpet.mp3
VALIDATE_SIGNATURE=false
